<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1022147385320-7cv30kn6jkilrd5ms4patodtgopqgags.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1022147385320-7cv30kn6jkilrd5ms4patodtgopqgags</string>
	<key>API_KEY</key>
	<string>AIzaSyB7_c_UxPw1Ko8qN1aPRibpUiCjAh_GEcw</string>
	<key>GCM_SENDER_ID</key>
	<string>1022147385320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>www.webagencyfrosinone.ferentino</string>
	<key>PROJECT_ID</key>
	<string>ferentino-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ferentino-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1022147385320:ios:f5083c50a47d82ef9df65d</string>
</dict>
</plist>